<html>
    <head>
        <meta charset="utf-8">
        <title>Sign In</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/signup.css">
    </head>
    <body>
        <div id="main">
            <div id="form-image">
                <form id="form" style="text-align:center;">
                    <h1 style="color:#FC4F4F">Login</h1>
                    <label for="email"></label>
                    <input class="input" type="text" id="email" name="email" placeholder="Email"><br>
                    <label for="password"></label>
                    <input class="input" type="password" id="password" name="password" placeholder="Password"><br>
                    <button type="submit">Reset</button><br>
                </form>
                <div>
                    <img src="/images/expense.png">
                </div>
            </div>
        </div>
    </body>
    <script src="/javascript/reset.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>